{% extends "base.html" %}
{% set active_page = "about" %}
{% set title = "About BalCCon" %}
{% block contents %}
<h2>BalCCon</h2>
<p>Balkan Computer Congress is concieved as a few day long gathering of the international hacker community in organization of LUGoNS – Linux users of Novi Sad, in hope to become traditional annual event. The program is consisting of numerous presentations, workshops and lectures about information, privacy, technology, programming, free software even considering socio-political issues. One part of the congress will be dedicated to the hacking, project and hacks. Live streaming of the congress will be available (the web address will be announced later).</p>

<h2>Our goal</h2>
<p>Our major goal is to gather all the communities from the region and abroad so we can socialize, hack, play, learn, exchange knowledge and experience and of course to party together</p>

<p>BalCCon aims to become the center of the hacker community in the region as well as to provide opportunity for all the people in this part of Europe to connect and to cooperate. Last year we (LUGoNS) attend the CCC congress in Berlin, and we considered the BalCCon idea with a lot of people and organizations there, and we get a very strong support for the idea. The opportunity of expanding the community was pointed out, along with a shared of the newly acquired knowledge and exchange of experience.</p>

<p>Program and speakers will be taken trough “call for papers” few months before congress. We have planed some special guests whose reputation is well known in the community. All the application and lectures will be stored in the database with the possibility of grading.</p>

<h2>Why will the congress be held in Novi Sad?</h2>
<p>LUGoNS is one of the oldest hacker communities in Serbia we are existing successfully for more then a decade and growing our knowledge and international experience.  LUGoNS is ready to prepare BalCCon as the first such event in the region.</p>

<p>The city of Novi Sad is suitable for host an international event of this kind, because of its great geographical location, infrastructure, tourism support and mandatory technical support.</p>

<p>Please feel free to follow us trough:</p>

<div class="box">Web: <a href="https://events.lugons.org">https://events.lugons.org</a><br/>
Mailing list: <a href="https://free-lists.net">https://free-lists.net</a><br/>
IRC: <a href="http://webchat.freenode.net/?channels=BalCCon">irc.freenode.net/BalCCon</a><br/>
</div>
{% endblock %}
