{% extends "base.html" %}
{% set active_page = "admin_groups" %}
{% set title = "Admin - Groups" %}
{% block contents %}
    <table border="1px" >
        <tr><th>groupname</th><th>displayname</th><th>email</th><th>registration_date</th><th>members</th><th>action</th></tr>
        {%- for group in g.groups %}
        <tr>
        <form method="post">
            <td>{{ group.groupname }}</td><td>{{ group.displayname }}</td><td>{{ group.email }}</td><td>{{ group.registration_date }}</td>
            <td>{{ group.members|join(', ', attribute='username')}}</td>
            <td>
                <input type="hidden" name="groupname" value="{{ group.groupname }}"/>
                <input type="submit" name="action" value="delete"/>
            </td>
        </form>
        </tr>
        {%- endfor %}
        <tr>
        <form method="post">
            <td><input type="text" name="groupname"/></td>
            <td><input type="text" name="displayname"/></td>
            <td><input type="email" name="email"/></td>
            <td></td>
            <td></td>
            <td><input type="submit" name="action" value="add"/></td>
        </form>
        </tr>
    </table>
{% endblock %}
