<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/skins/markitup/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup/sets/textile/style.css') }}"/>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Glegoo'/>

    <title>BalCCon 2013 - {{ title }}</title>
</head>
<body>
{% set active_page = active_page|default('index') %}
    <span id="logreg">
    {% if not session.username %}
        <a{% if active_page == 'login' %} class="active"{% endif %} href="{{ url_for('login') }}">Login</a> /
        <a{% if active_page == 'register' %} class="active"{% endif %} href="{{ url_for('register') }}">Register</a>
    {% else %}
        <a{% if active_page == 'logout' %} class="active"{% endif %} href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </span>

    <div id="header">
        <h1>BalCCon 2013</h1>
    </div>
    <div id="menubar">
    <ul class="menu hmenu">
        <li{% if active_page == 'index' %} class="active"{% endif %}>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li{% if active_page == 'sponsors' %} class="active"{% endif %}>
            <a href="{{ url_for('schedule') }}">Schedule</a>
        </li>
        <li{% if active_page == 'papers' %} class="active"{% endif %}>
            <a href="{{ url_for('papers') }}">Call for Papers</a>
        </li>
<!--
        <a{% if active_page == 'papers' %} class="active"{% endif %} href="">Instructions</a>
        <a{% if active_page == 'papers' %} class="active"{% endif %} href="">Submission form</a>
-->
        <li{% if active_page == 'sponsors' %} class="active"{% endif %}>
            <a href="{{ url_for('sponsors') }}">Sponsors</a>
        </li>
        <li{% if active_page == 'news' %} class="active"{% endif %}>
            <a href="{{ url_for('news') }}">News</a>
        </li>
        <li{% if active_page == 'people' %} class="active"{% endif %}>
            <a href="{{ url_for('people') }}">People</a>
        </li>
        <li{% if active_page == 'contact' %} class="active"{% endif %}>
            <a href="{{ url_for('contact') }}">Contact</a>
        </li>
    </ul>
<!--
        <a{% if active_page == 'groups' %} class="active"{% endif %} href="{{ url_for('groups') }}">Groups</a>
-->

        {% if session.username == 'admin' %}
        <span>Admin:</span>
        <a{% if active_page == 'admin' %} class="active"{% endif %} href="{{ url_for('admin') }}">Main</a>
        <a{% if active_page == 'admin' %} class="active"{% endif %} href="{{ url_for('admin_people') }}">People</a>
        <a{% if active_page == 'admin' %} class="active"{% endif %} href="{{ url_for('admin_groups') }}">Groups</a>
        <a{% if active_page == 'admin' %} class="active"{% endif %} href="{{ url_for('admin_review') }}">Document Review</a>
        {% endif %}
        {% if session.username %}<div style="float: right">logged in as: <a href="{{ url_for('person', username=session.username) }}">{{ session.username }}</a></div>{% endif %}
    </div>
    <table id="main">
    <td id="main-left">
        <ul class="menu vmenu">
            <li class="submenuright">
                <a href="{{ url_for('tickets') }}">Tickets</a>
                <ul class="menu vmenu">
                    <li><a href="{{ url_for('tickets') }}#companies">Companies</a></li>
                    <li><a href="{{ url_for('tickets') }}#individuals">Individuals</a></li>
                    <li><a href="{{ url_for('tickets') }}#students">Students</a></li>
                    <li><a href="{{ url_for('tickets') }}#residents">Local Residents</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('venue') }}">Venue</a></li>
            <li><a href="{{ url_for('about') }}">About BalCCon</a></li>
            <li><a href="{{ url_for('friends') }}">LUGoNS and Friends</a></li>
        </ul>
        <img src="{{ request.url + '/qr' }}" alt="qr"/>
    </td>
    <td id="main-center">
    {%- with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith -%}
    <h2 id="title">{{ title }}</h2>
    <div id="main-contents">{% block contents %}{% endblock %}</div>
    </td>
    </table>
    <div id="footer">
        Ovde idu sponzori, baneri i tako to.<br/>
        <a href="http://validator.w3.org/check?uri=referer">W3C Validator</a><br/>
        session: {{ session }}<br/>
        permission_news: {{ g.permission_news }}<br/>
        permission_reviewer: {{ g.permission_reviewer }}<br/>
        permission_venue: {{ g.permission_venue }}<br/>
        permission_schedule: {{ g.permission_schedule }}<br/>
    </div>
</body>
