{% extends "base.html" %}
{% set active_page = "friends" %}
{% set title = "LUGoNS and Friends" %}
{% block contents %}
<p>LUGoNS – Linux user group of Novi Sad has long time ago overgrown it’s geographic attribute, it is the oldest Linux community in this region. Milobit (milobit) one of the founders of LUGoNS made his first contact with SUSE Linux in the 90s during his studies at the <a href="http://www.uni-mannheim.de/1/startseite/index.html">University of Mannheim</a> in Germany. That is the origin of a spark which turned vivid flame thanks to Nikola Kavečan and many other important friends as Danica Novaković – kaneolopa i Nikola Novaković – dreamerns, Nikola Kotur – kotnik, Goran Mekić – meka, Dani Laslo – nsd, Velibor Glišin – bobus, Ivan Vitjuk – virtus, Slobodan Sredojević – ssl, Lazar Stričević – lucky, Žarko Živanov – zare and many many others. That is how ns-linux.org was born.</p>

<p>In 2005 the internet <a href="https://lugons.org/">site</a> became well known and the first official gathering was held. Surprisingly a lot of people showed up and had a great time, that was a sign that it is about time for us to become official registered community.</p>

<p>Not long after that we opened <a href="https://forum.lugons.org/cgi-bin/yabb2/YaBB.pl">the Forum</a>, <a href="https://lab.lugons.org/">the Lab</a> and we started projects and education, studies about Free Software, programming and technologies. We have also organized numerous presentations, gatherings, LIDs (Linux Install Day) all that in the LUGoNS <a href="http://hackerspaces.org/wiki/LUGoNS">hacker space</a>.</p>

<p>We have worked very hard on many projects. Most important onces are:</p>

<p><a href="https://tor.lugons.org/">Tor</a> – Anonymity Online (in progress).<p>

<p>Translation projects (from English to Serbian, our native language): <a href="http://slackbook.ns-linux.org/">Slackbook</a>, <a href="https://gentoo-handbook.lugons.org/doc/sr/handbook/">Gentoo Handbook</a>.</p>

<p><a href="https://free-lists.net/mailman/listinfo">Mailing lists</a></p>

<p>We have started lectures via <a href="https://lugons.org/Members/gbranko/vesti/virtuelna-ucionica">Virtual Classroom</a> as well as numerous faculty lectures, etc.</p>

<p>All you wonderful and generous people who helped us and supported us all these years thank you very very much, we wouldn’t be here today without you.</p>

<p>All of you who are interested please feel free to join us and to become a part of this community. We welcome you.</p>

<p>All the activities and projects you can see here:</p>

<p><a href="https://lugons.org/">LUGoNS official web site</a></p>

<p><a href="https://forum.lugons.org/cgi-bin/yabb2/YaBB.pl">LUGoNS Forum</a></p>

<p><a href="https://planet.lugons.org/">LUGoNS Planet</a></p>

<p><a href="http://wiki.lugons.org/doku.php">LUGoNS Wiki page</a></p>

IRC: <a href="http://webchat.freenode.net/?channels=lugons">irc.freenode.net/lugons</a><br/>
{% endblock %}
