{% extends "base.html" %}
{% set active_page = "news" %}
{% set title = "News" %}
{% block contents %}
    <div class="news_item" id="news_item_{{ g.news_item.id }}">
        <h3 class="news_title">{{ g.news_item.title }}</h3>
        <span class="news_date">posted on {{ g.news_item.date }}</span>
        <div class="news_text">{{ g.news_item.text|textile|safe }}</div>
        {% if g.permission_news %}
        <a href="{{ url_for('news_edit', news_id = g.news_item.id) }}"><button type="button">Edit</button></a>
        <form class="inline" method="post" action="{{ url_for('news_delete', news_id = g.news_item.id) }}">
            <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
            <input type="submit" value="Delete"/>
        </form>
        {% endif %}
    </div>
{% endblock %}
