{% extends "base.html" %}
{% set active_page = "people" %}
{% set title = "People - " + g.person.displayname %}
{% block contents %}
    Hello, I am {{ g.person.displayname }}. You can contact me at <a href="mailto:{{ g.person.email }}">{{ g.person.email }}</a>.<br/>

    <h3>Events this person is organizing</h3>
    <ul>
        {% for event in g.person.events %}
        <li>
            <h4>{{ event.title }}</h4>
            <p><b>start:</b> {{ event.start }}</br>
            <b>end:</b> {{ event.end }}</br>
            <b>location:</b> {{ event.venue.title }}</p>
            <p>{{ event.text }}</p>
        </li>
        {% endfor %}
    </ul>

    <h3>Groups this person is a member of</h3>
    <ul>
        {% for group in g.person.groups %}
        <li><a href="{{ url_for('group', groupname=group.groupname) }}">{{ group.displayname }}</a></li>
        {% endfor %}
    </ul>

    {% if g.documents_public %}
    <h3>Public documents</h3>
    <ul>
        {% for document in g.documents_public %}
        <li><a href="{{ url_for('document_public', username=g.person.username, filename=document) }}">{{ document }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if session.username == g.person.username or g.permission_reviewer %}
    {% if g.documents_pending %}
    <h3>Documents pending review</h3>
    {% for document in g.documents_pending %}
    <ul>
        <li><a href="{{ url_for('document_pending', username=g.person.username, filename=document) }}">{{ document }}</a>
            {% if g.permission_reviewer %}
            <form class="inline" method="post">
                <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
                <input type="hidden" name="action" value="publish"/>
                <input type="hidden" name="username" value="{{ g.person.username }}"/>
                <input type="hidden" name="document" value="{{ document }}"/>
                <input type="submit" value="publish"/>
            </form>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if session.username == g.person.username %}
    <form name="documentupload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
        <fieldset>
            <legend>Upload a document</legend>
            <p>Filename will be made <i>web safe</i>. This includes, but is not limited to: underscores being placed instead of spaces, slashes and hashmarks being removed. Thank you for understanding.</p>
            <p><input type="file" name="file"/></p>
            <p>
                <input type="hidden" name="action" value="documentupload"/>
                <input type="submit"/>
                <input type="reset"/>
            </p>
        </fieldset>
    </form>
    <br/>
    <form name="editpersonaldetails" method="post">
        <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
        <fieldset>
            <legend>Edit personal details</legend>
            <p>Username: {{ g.person.username }}</p>
            <p>First name: <input type="text" name="firstname" value="{{ g.person.firstname }}"/></p>
            <p>Last name: <input type="text" name="lastname" value="{{ g.person.lastname }}"/></p>
            <p>Display name: <input type="text" name="displayname" value="{{ g.person.displayname }}"/></p>
            <p>Gender:
                <select name="gender">
                    <option value="male"{% if g.person.gender == 'male' %} selected="selected"{% endif %}>Male</option>
                    <option value="female"{% if g.person.gender == 'female' %} selected="selected"{% endif %}>Female</option>
                    <option value="unspecified"{% if g.person.gender == 'unspecified' %} selected="selected"{% endif %}>Unspecified</option>
                </select>
            </p>
            <p>E-mail: {{ g.person.email }}</p>
            <p>
                <input type="hidden" name="action" value="editpersonaldetails"/>
                <input type="submit"/>
                <input type="reset"/>
            </p>
        </fieldset>
    </form>
    <br/>
    <form name="changepassword" method="post">
        <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
        <fieldset>
            <legend>Change password</legend>
            <p>Current password: <input type="password" name="old_password"></p>
            <p>New password: <input type="password" name="new_password"></p>
            <p>Repeat new password: <input type="password" name="confirm_new_password"></p>
            <p>
                <input type="hidden" name="action" value="changepassword"/>
                <input type="submit"/>
                <input type="reset"/>
            </p>
        </fieldset>
    </form>

    {% endif %}
{% endblock %}
