{% extends "base.html" %}
{% set active_page = "people" %}
{% set title = "People - " + g.person.displayname %}
{% block contents %}
    Hello, I am {{ g.person.displayname }}. You can contact me at <a href="mailto:{{ g.person.email }}">{{ g.person.email }}</a>.<br/>

    Groups this person is a member of:
    <ul>
        {% for group in g.person.groups %}
        <li><a href="{{ url_for('group', groupname=group.groupname) }}">{{ group.displayname }}</a></li>
        {% endfor %}
    </ul>

    {% if g.documents_public %}
    Public documents
    <ul>
        {% for document in g.documents_public %}
        <li><a href="{{ url_for('document_public', username=g.person.username, filename=document) }}">{{ document }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if session.username == g.person.username or g.permission_reviewer %}
    {% if g.documents_pending %}
    Documents pending review
    {% for document in g.documents_pending %}
    <ul>
        <li><a href="{{ url_for('document_pending', username=g.person.username, filename=document) }}">{{ document }}</a>
            {% if g.permission_reviewer %}
            <form class="inline" method="post">
                <input type="hidden" name="action" value="publish"/>
                <input type="hidden" name="username" value="{{ g.person.username }}"/>
                <input type="hidden" name="document" value="{{ document }}"/>
                <input type="submit" value="publish"/>
            </form>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if session.username == g.person.username %}
    <form name="documentupload" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload a document</legend>
            <p>Filename will be made <i>web safe</i>. This includes, but is not limited to: underscores being placed instead of spaces, slashes and hashmarks being removed. Thank you for understanding.</p>
            <input type="hidden" name="action" value="documentupload"/>
            <div><input type="file" name="file"/></div>
            <div>
                <input type="submit"/>
                <input type="reset"/>
            </div>
        </fieldset>
    </form>
    {% endif %}
{% endblock %}
