{% extends "base.html" %}
{% set active_page = "people" %}
{% set title = "People - " + g.person.displayname %}
{% block contents %}
    Hello, I am {{ g.person.displayname }}. You can contact me at <a href="mailto:{{ g.person.email }}">{{ g.person.email }}</a>.<br/>
    Groups this person is a member of:
    <ul>
        {% for group in g.person.groups %}
        <li><a href="{{ url_for('group', groupname=group.groupname) }}">{{ group.displayname }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
