{% extends "base.html" %}
{% set active_page = "schedule" %}
{% set title = "Schedule" %}
{% block contents %}
    <table>
    <tr><th>who</th><th>what</th><th>when</th><th>where</th></tr>
    {%- for event in g.events %}
    <tr>
        <td><a href="{{ url_for('person', username=event['person']) }}">{{ event['person'] }}</a></td>
        <td>{{ event['title'] }}</td>
        <!-- <td>{{ event['text'] }}</td> -->
        <td>{{ event['start'] }} - {{ event['end'] }}</td>
        <td><a href="{{ url_for('venue', _anchor=event['venue']) }}">{{ event['venue'] }}</a></td>
    </tr>
    {%- endfor %}
    </table>
{% endblock %}
