{% extends "base.html" %}
{% set active_page = "schedule" %}
{% set title = "Schedule" %}
{% block contents %}
    <h2>Day 1</h2>
    <table>
    <tr><th>who</th><th>what</th><th>when</th><th>where</th></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    </table>

    <h2>Day 2</h2>
    <table>
    <tr><th>who</th><th>what</th><th>when</th><th>where</th></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    <tr><td>John</td><td>Something</td><td>10:15 - 11:45</td><td>Room 1</td></tr>
    </table>

{% endblock %}
