{% extends "base.html" %}
{% set active_page = "venue" %}
{% set title = "Venue" %}
{% block contents %}
    {% for venue in g.venues %}
    <div class="venue">
        <h3 id="{{ venue.id }}"><a href="{{ url_for('venue_individual', venue_id = venue.id) }}">{{ venue.title }}</a></h3>
        <div>{{ venue.description }}</div>
        <div>Address: {{ venue.address }}</div>
        <div>Events at this venue:
            <ul>
            {% for event in venue.events %}
            <li>{{ event.title }}</li>
            {% endfor %}
            </ul>
            {% if g.permission_venue %}
            <a href="{{ url_for('venue_edit', venue_id = venue.id) }}">Edit</a>
            <form class="inline" method="post" action="{{ url_for('venue_delete', venue_id = venue.id) }}">
                <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
                <input type="submit" value="Delete"/>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if g.permission_venue %}
    <a href="{{ url_for('venue_add') }}">Add venue</a>
    {% endif %}
{% endblock %}
